[user]
	name = gcchaan
	email = gcchaan@users.noreply.github.com

[core]
	quotepath = false

[status]
	short = true

[commit]
	verbose = true

[fetch]
	prune = true

[pull]
	ff = only

[merge]
	ff = false
	conflictstyle = diff3

[diff]
	compactionHeuristic = true
	colorMoved = default # delta

[rebase]
	autosquash = true

[push]
	default = current

[pager]
	diff = delta
	show = delta

[delta]
	navigate = true	# use n and N to move between diff sections
	light = false
	side-by-side = true
	syntax-theme = Coldark-Dark

[interactive]
	diffFilter = delta --color-only

[ghq]
root = ~/repos

[credential]
	helper = osxkeychain

[alias]
	logp = log --oneline --decorate=short --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%Cgreen%h %C(yellow)%cd %Cred%d %Creset%s %Cblue<%cn>'
